* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}
body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}
nav,
h1,
h3,
h2,
a,
h4
{
    font-family: 'Cinzel', serif;
}
header .container img {
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}
.container {
    display: flex;
    justify-content: center;
}
nav {
    font-weight: 400;
    font-size: 20px;
}
ul, a {
    list-style: none;
    text-decoration: none;
    color: #000;
}
.sale a {
    color: red;
}
.categoria {
    display: flex;
    justify-content: space-evenly;
}
.categoria a:hover {
    color: rgb(158, 158, 158);;
}
.categoria .sale a:hover{
    color: rgb(158, 158, 158);;
}
.container,
#sobre-nos,
#politica {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.produto img {
    height: 400px;
    width: 400px;
    margin-top: 50px;
}
.container .produto h3,
p{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.container .produto h3 {
    margin-top: 10px;
}
.parcela {
    color: #a2a2a2;
}
section .container {
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#metodo-contato .container {
    flex-wrap: wrap;
    display: grid;
    justify-content: space-evenly;
}
#metodo-contato .container .contato
form input,
form textarea,
form button {
    flex-wrap: wrap;
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    margin-left: 12px;
}
form button{
    background-color: #171717;
    color: #fff;
    border: none;
    cursor: pointer;
}
form textarea {
    resize: none;
}
.social-links img {
    height: 24px;
}
.social-links ul,
.contato ul{
    display: flex;
    justify-content: space-between;
    margin: 8px;
}
#metodo-contato .container {
    display: flex;
    justify-content: space-evenly;
}
#metodo-contato .container
h1,
h2,
h3 {
    margin: 13px;
}
#metodo-contato .container ul {
    margin: 12px;
}
footer {
    color: #000;
    padding: 10px 0;
    opacity: 75%;
}
.meio-contato li {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

section .navegacao ul{
    display: block;
    justify-content: start;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 15px;
}

section .navegacao a:hover {
    color: rgb(158, 158, 158);
}

nav {
    line-height: 1.5;
}

section .sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    line-height: 1.5;
}



.sobre h1, p {
    width: 100%;
    
}

.sobre h1 {
    font-size: 30px;
    font-weight: normal;
}

.sobre p {
    font-size: 17px;
}

section .trocas {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.trocas .change {
    width: 100%;
}

.trocas .text {
    width: 100%;
}

.text h4 {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.5;
}

.text p {
    font-size: 17px;
    line-height: 1.5;
}

.contact-methods {
    display: block;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    margin-left: 12px;
}

form button{
    background-color: #171717;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline-color: #000000;
}

form button:hover {
    background-color: rgb(158, 158, 158);;
}

textarea {
    resize: none;
    height: 180px;
}